extends base

block content
    h2.about About Libreo
    p.about Now a little more grown-up, Libreo is being redone with nodejs as a means of learning to use the much-hyped tool and hopefully a little raw Javascript along the way.

    h2.about About Lucy
    p.about Lucy is:
    ol
        li: Better at writing lists than paragraphs.  Unless it's a to-do list.
        li: A novice poet
        li: A native Portlander
        li: A student
        li: An avid nap enthusiast
        li 
            A web developer (check out 
            a(href='https://github.com/lucywyman') my github 
            !)
        li: A runner
        li: A sweet tooth
        li: A fashion expert
        li: A graduate of Cleveland High School and the International Baccalaureate program
        li: A pianist
        li: A volunteer at the Oregon Humane Society
        li: A daughter
        li: A proud sister
        li: A 
            a(href='https://www.youtube.com/watch?v=DzSC2__LXk4') space cowgirl
        
