extends base

block content
    h2.about About Libreo
    p.about Now a little more grown-up, Libreo is being redone with nodejs as a means of learning to use the much-hyped tool and hopefully a little raw Javascript along the way.

    h2.about About Lucy
    p.about Lucy is:
    ol
        li: 
