!!! 5
html
    head
        title= Libreo | #{page}
        link(rel='stylesheet', href='/css/style.css')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //-Google fonts

    body
        #mainnav
            ul
                li: p.logo Libreo
                li: a(href='index.html') Home
                li: a(href='about.html') About
                if(//-Username is set for session)
                    li: a(href='login.html') Login
                    li: a(href='register.html') Register
                else
                    li: a(href='logout.html') Logout
                
        block sidebar
        block content    
        #footer
                    
