.sidebar
    ul
        li: a(href='/profile') My Library
        li: a(href='/cities') My City
        li: a(href='/addbook') Add book
        li: a(href='/removebook') Remove book
        li
            form#searchbar(action='/searchResults', name='searchbar', method='post')
                input.searchinput(type='text' name='search')
                input.submit(type='submit', value='Search')    
